.container {
    position: fixed;
    top: 150px;
    width: 100%;
    height: 92%;
    background: linear-gradient(0deg, #ffffff, #ffffff);
}

.color-picker-container {
    text-align: center;
    display: inline;
    color: #292929;
}

.brushsize-container {
    display: inline;
    color: #292929;
    margin-left: 12px;
}

.tools-section {
    text-align: center;
}

.board-container {
    width: 75%;
    height: 90%;
    margin: auto;
    margin-left: 4%;
    margin-right: 20%;
    margin-top: 1%;
    background: #ffffff;
}